* {
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 0, 0.556),rgba(0, 128, 0, 0.664)), url(Google.png);
    background-position: center;
    background-size: cover;
    position: relative;
}   